.modal {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #1c1c21;
  border-radius: 40px;
  width: 720px;
  height: 718px;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.close_button {
  background: none;
  cursor: pointer;
  border: 0 solid #ccc;
}
