.profile_form {
  max-width: 480px;
  text-align: center;
}

.login {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 24px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-beetween;
  column-gap: 25px;
}
